# Ignore several file/path patterns such as IDE specific files

/cgi-bin
/vendor
/public
/Build
composer.lock
xcache/
picture_library/
plesk-stat/
xcacheadmin/
.ssh/
.idea/
nbproject/private/
nbproject/
**/*.log
**/*temp_*
**/*Copy of*
/.project
/.buildpath
/.settings
/.bash_history
/.viminfo
._*
/atlassian-ide-plugin.xml
/.php_cs.cache