# Ignore everything by default
*
!/.gitattributes
!/.gitignore

# Extension files
!/composer.json
!/ext_emconf.php
!/ext_localconf.php
!/README.md
!/CHANGELOG.md
!/LICENSE

# Configuration
!/Configuration
!/Configuration/Backend
!/Configuration/Backend/*.php
!/Configuration/FlexForm
!/Configuration/FlexForm/*.xml
!/Configuration/Icons.php
!/Configuration/Services.yaml

# Documentation
!/Documentation
!/Documentation/AdministratorManual
!/Documentation/AdministratorManual/*.rst
!/Documentation/Images
!/Documentation/Images/AdministratorManual
!/Documentation/Images/AdministratorManual/*.png
!/Documentation/Introduction
!/Documentation/Introduction/*.rst
!/Documentation/Includes.txt
!/Documentation/Index.rst
!/Documentation/Settings.yml

# Resources
!/Resources
!/Resources/Private
!/Resources/Private/Language
!/Resources/Private/Language/*.xlf
!/Resources/Public
!/Resources/Public/Icons
!/Resources/Public/Icons/*.svg

# PHP
!/Classes
!/Classes/Controller
!/Classes/Controller/*.php
!/Classes/Driver
!/Classes/Driver/*.php
!/Classes/Processing
!/Classes/Processing/*.php
!/Classes/Resource
!/Classes/Resource/Event
!/Classes/Resource/Event/*.php
!/Classes/Service
!/Classes/Service/Extraction
!/Classes/Service/Extraction/*.php
!/Classes/Toolbar
!/Classes/Toolbar/*.php
!/Classes/Utility
!/Classes/Utility/*.php

# Tests
!/Tests
!/Tests/Unit
!/Tests/Unit/Driver
!/Tests/Unit/Driver/*.php

# Build
!/.travis.yml
